<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-energized" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-ios-arrow-left" data-comp-id="button.1"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">Issues List</ion-nav-title>
        <ion-nav-buttons side="right"></ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="" data-comp-id="ionic-content.1">
        <div data-comp-id="div.1">
            <div class="row" data-comp-id="row.1" ng-repeat="item in data.issueslist"
                style="border-bottom: 1px solid rgb(221, 221, 221);">
                <div class="col" data-comp-id="column.1" style="padding: 0px;">
                    <div class="row" data-comp-id="row.2"
                        style="padding: 0px 12px; margin: 16px 0px 0px;">
                        <div class="col" data-comp-id="column.2">
                            <div class="" data-comp-id="text.1" ng-bind="item.id"
                                style="margin: 0px; line-height: 10px; font-size: 20px; color: rgb(102, 102, 102);">0000506</div>
                            <div class="" data-comp-id="text.2" ng-bind="item.summary"
                                style="color: rgb(102, 102, 102); line-height: 18px; margin: 12px 0px;">Lorem
                                ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut enim ac sem
                                mollis pharetra quis id arcu.</div>
                        </div>
                    </div>
                    <div class="row" data-comp-id="row.3" style="padding: 0px 12px;">
                        <div class="col" data-comp-id="column.3" style="max-width: 90px;">
                            <div data-comp-id="text.3"
                                style="font-size: 12px; font-weight: bold; float: left; color: rgb(102, 102, 102);">SEVERITY</div>
                        </div>
                        <div class="col" data-comp-id="column.4">
                            <span data-comp-id="text.4" ng-bind="item.severity"
                                style="float: left; margin: 0px 0px 0px 8px; color: rgb(102, 102, 102);">minor</span>
                        </div>
                    </div>
                    <div class="row" data-comp-id="row.4" style="padding: 0px 12px;">
                        <div class="col" data-comp-id="column.5" style="max-width: 90px;">
                            <div data-comp-id="text.5"
                                style="font-size: 12px; font-weight: bold; float: left; color: rgb(102, 102, 102);">STATUS</div>
                        </div>
                        <div class="col" data-comp-id="column.6">
                            <span data-comp-id="text.6" ng-bind="item.status"
                                style="float: left; margin: 0px 0px 0px 8px; color: rgb(102, 102, 102);">assigned</span>
                        </div>
                    </div>
                    <div class="row" data-comp-id="row.5" style="padding: 0px 12px;">
                        <div class="col" data-comp-id="column.7" style="max-width: 90px;">
                            <div data-comp-id="text.7"
                                style="font-size: 12px; font-weight: bold; float: left; color: rgb(102, 102, 102);">ASSIGNED TO</div>
                        </div>
                        <div class="col" data-comp-id="column.8">
                            <span data-comp-id="text.8" ng-bind="item.assignedto"
                                style="float: left; margin: 0px 0px 0px 8px; color: rgb(102, 102, 102);">Ryan Smith</span>
                        </div>
                    </div>
                    <div class="row" data-comp-id="row.6" style="padding: 0px 12px;">
                        <div class="col" data-comp-id="column.9" style="max-width: 90px;">
                            <div data-comp-id="text.9"
                                style="font-size: 12px; font-weight: bold; float: left; color: rgb(102, 102, 102);">UPDATED</div>
                        </div>
                        <div class="col" data-comp-id="column.10">
                            <span data-comp-id="text.10" ng-bind="item.updated"
                                style="float: left; margin: 0px 0px 0px 8px; color: rgb(102, 102, 102);">2017-06-20</span>
                        </div>
                    </div>
                </div>
                <div class="col text-right col-10" data-comp-id="column.11"
                    style="padding: 0px;">
                    <div class="row" data-comp-id="row.7">
                        <div class="col" data-comp-id="column.12">
                            <i class="icon ion-ios-arrow-right positive" data-comp-id="icon.1"
                                style="font-size: 32px;"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>